* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tableSection {
    background-color: antiquewhite;
    height: auto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: aliceblue;
}

table {
    font-size: large;
    width: 100%;
    padding: 20px;
}


input {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    background-color: aquamarine;
}

td,
th {
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 10px 20px;
    border-radius: 2px;
}
td{
    text-align: left;
}

a{
    color:black;
}
.tablehead {
    position: sticky;
    top: 0;
}

.tablethflex{
    display: flex;
    gap: 25px;
    align-items: center;
}
/* tr:nth-child(odd){
    background-color: aqua;
}

tr:nth-child(even){
    background-color: rgb(142, 142, 176);
} */
.tablehead1{
    background-color: aqua;
}

.tablehead2{
    background-color: rgb(142, 142, 176);
}
.monthselect{
    padding: 10px;
}

.disableicon{
    pointer-events: none;
    cursor: none;
    opacity: 0.8;
}