<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpassword/forgotpassword.css">
    <script src="/js/forgotpassword/forgotpasswordfrontend.js"></script>
    <script src="/js/forgotpassword/validateforgotpasswordfrontend.js"></script>    
</head>
<body>
    <section class="section">
        <h1>Vasu Parsaniya_24DEV053</h1>
        <div class="container">
            <div id="messagepopupdiv" class="messagepopupdiv">
            </div>
            <div id="passwordbox" class="passwordbox">
                <p class="title">Forgot Password</p>
                <div class="row">
                    <div class="col">
                        <input type="text" id="email" class="inputstyle" name="email" placeholder="Enter Email">
                        </div>
                </div>
                <div id="acticationlinkbox" class="acticationlinkbox">
                    <p><a id="activationlink" class="activationlink"></a></p>
                </div>
                <div class="forgotpasswordbuttondiv">
                    <p class="forgotpasswordbutton" onclick="forgotpassword()">Send Link</p>
                    <p>Back to <a class="loginbutton" href="/userlogin">Login</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>