<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehya</title>
    <link rel="stylesheet" href="/css/Task-6/ehya.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="headercontainer">
            <div class="logo">
                <a href="#"><img src="/image/Task-6/Desktop/Logo.svg"></a>
            </div>
            <div class="navbar">
                <nav>
                    <ul>
                        <li><a href="#" class="navigation">Home</a></li>
                        <li><a href="#" class="navigation">Landings</a></li>
                        <li><a href="#" class="navigation">Pages</a></li>
                        <li><a href="#" class="navigation">Docs</a></li>
                        <li><a href="#" class="navigation">Help</a></li>
                        <li><a href="#" class="button">Get it now</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <!-- <section class="consultation">
            <div class="consultationimage">
                <img src="/image/Task-6/Desktop/Hero.png">
            </div>
            <div class="consultationtext">
                <h2>Make Your New Life Happier</h2>
                <p>We work with several leading insurance companies to
                    secure insurance coverages tailored to meet your needs.</p>
                <a href="#" class="getconsultation">Get Consultation</a>
            </div>
    </section> -->

    <!-- <section class="consultation">
        <div class="consultationcontainer">
            <div class="consultationimage">
                <img src="/image/Task-6/Desktop/Hero.png">
            </div>
            <div class="consultationtext">
                <h2>Make Your New Life Happier</h2>
                <p>We work with several leading insurance companies to
                    secure insurance coverages tailored to meet your needs.</p>
                <a href="#" class="getconsultation">Get Consultation</a>
            </div>
        </div>
    </section> -->

    <section class="consultation">
        <div class="consultationcontainer">
            <div class="consultationrow">
                <div class="consultationcol1">
                    <div class="consultationimage">
                        <img src="/image/Task-6/Desktop/Hero.png">
                    </div>
                </div>
                <div class="consultationcol2">
                    <div class="consultationtext">
                        <h2>Make Your New Life Happier</h2>
                        <p>We work with several leading insurance companies to
                            secure insurance coverages tailored to meet your needs.</p>
                        <a href="#" class="getconsultation">Get Consultation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ourservices">
        <div class="container">
            <div class="textgroup">
                <div class="textgroup1">
                    <p class="greencolor">OUR SERVICES</p>
                    <h2>Insurance made simple for you</h2>
                    <p class="textgroupgray">We work with several leading insurance companies to secure insurance coverages tailored to meet your needs.</p>
                </div>

                <div class="textgroup2">
                    <div class="service1">
                        <i class="fa-solid fa-check"></i>
                        <span>Flexible products to make your life easier</span>
                    </div>
                    <div class="service1">
                        <i class="fa-solid fa-check"></i>
                        <span>Highest standards of services</span>
                    </div>
                    <div class="service1">
                        <i class="fa-solid fa-check"></i>
                        <span>Fast and reliable services</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="boxcard">
                        <div class="icon">
                            <img src="/image/Task-6/Desktop/Icon_Home.svg">
                        </div>
                        <div class="title">
                            <h3>Home Insurance</h3>
                            <p>Home insurance is a type of insurance policy that
                                provides cover for your home.
                            </p>
                        </div>

                        <div class="learnmore">
                            <span>Learn More</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="boxcard">
                        <div class="icon">
                            <img src="/image/Task-6/Desktop/Icon_Like.svg">
                        </div>
                        <div class="title">
                            <h3>Life Insurance</h3>
                            <p>Helping you bridge gaps in your health care coverage during time of transition.
                            </p>
                        </div>

                        <div class="learnmore">
                            <span>Learn More</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="boxcard">
                        <div class="icon">
                            <img src="/image/Task-6/Desktop/Icon_Car.svg">
                        </div>
                        <div class="title">
                            <h3>Car Insurance</h3>
                            <p>Car insurance is a type of insurance policy that provides
                                cover for your car.
                            </p>
                        </div>

                        <div class="learnmore">
                            <span>Learn More</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="ourtips">
        <div class="containerintips">
            <div class="textgroupintips">
                <p class="greencolor">OUR TIPS FOR YOU</p>
                <h2 class="darkcolor">Reinventing your protection</h2>
                <p class="textinourtips">We share common trends,strategies, opinions, short & long stories from the team behind company.</p>
            </div>

            <div class="imagetip">
                <div class="boxcardimage1">
                    <div class="imagecontain1">
                        <h3>How to prevent and protect your family from Carbon monoxide</h3>
                    </div>
                </div>

                <div class="boxcardimage2">
                    <div class="imagecontain2">
                        <h3>Motherhood is the hardest and the best job ever</h3>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="ourtips">
        <div class="containerintips">
            <div class="textgroupintips">
                <p class="greencolor">OUR TIPS FOR YOU</p>
                <h2 class="darkcolor">Reinventing your protection</h2>
                <p class="textinourtips">We share common trends,strategies, opinions, short & long stories from the team behind company.</p>
            </div>

            <div class="imagetiprow">
                <div class="imagetipcol">
                    <div class="imagetipboxcard1">
                            <p class="imagecontain1">How to prevent and protect your family from Carbon monoxide</p>
                    </div>
                </div>

                <div class="imagetipcol">
                    <div class="imagetipboxcard2">
                            <p class="imagecontain2">Motherhood is the hardest and the best job ever</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="yourbenefits">
        <div class="containeryourbenefits">

            <div class="rowforbenefits">
                <div class="colforbenefits">
                    <p class="greencolor">YOUR BENEFITS</p>
                    <h2>We're your right insurance advocate</h2>
                </div>

                <div class="colforbenefits">
                    <div class="icon">
                        <img src="/image/Task-6/Desktop/Donation.svg">
                    </div>
                    <div class="title">
                        <h3>We have the best prices</h3>
                        <p>Our insurance plans offers are priced the same everywhere else.We just make them easier for you to find.</p>
                    </div>
                </div>

                <div class="colforbenefits">
                    <div class="icon">
                        <img src="/image/Task-6/Desktop/Icon_Protection.svg">
                    </div>
                    <div class="title">
                        <h3>We're your insurance advocate</h3>
                        <p>We will deal with the insurance companies for you , even after you've bought your plan.</p>
                    </div>
                </div>

                <div class="colforbenefits">
                    <div class="icon">
                        <img src="/image/Task-6/Desktop/Icon_Neutron.svg">
                    </div>
                    <div class="title">
                        <h3>We're unbiased</h3>
                        <p>Our online tools help you decide what product is best for you.We're here to insurance plan
                            you choose.</p>
                    </div>
                </div>

                <div class="colforbenefits">
                    <div class="icon">
                        <img src="/image/Task-6/Desktop/Icon_CS.svg">
                    </div>
                    <div class="title">
                        <h3>We're available 24/7</h3>
                        <p>We have your back 24/7between our online chat function, email and telephone support.</p>
                    </div>
                </div>

                <div class="colforbenefits">
                    <div class="icon">
                        <img src="/image/Task-6/Desktop/Icon_Like.svg">
                    </div>
                    <div class="title">
                        <h3>We make insurance simple</h3>
                        <p>We're committed to making applying for insurance as simple as can be for our customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="line">
        <hr>
    </div>

    <section class="reviewsection">
        <div class="containerreview">

            <div class="rowforreview">

                <div class="colforreview">
                    <div class="customersupport">
                        <div>
                            <img src="/image/Task-6/Desktop/Avatar.png">
                            <img src="/image/Task-6/Desktop/Avatar-1.png">
                            <img src="/image/Task-6/Desktop/Avatar-2.png">
                        </div>
                        <div>
                            <strong class="darkcolor">Friendly</strong>customer support team
                        </div>
                    </div>
                </div>

                <div class="colforreview">
                    <div class="trustpilot">
                        <div class="start">
                            <img src="/image/Task-6/Desktop/Path.svg">
                            <span class="texttrustpilot">Trustpilot</span>
                        </div>
                        <div class="imagesstar">
                            <img src="/image/Task-6/Desktop/s.svg">
                            <img src="/image/Task-6/Desktop/s.svg">
                            <img src="/image/Task-6/Desktop/s.svg">
                            <img src="/image/Task-6/Desktop/s.svg">
                            <img src="/image/Task-6/Desktop/s.svg">
                        </div>
                        <div class="rating">
                            <strong class="darkcolor">4.6 out of 5 stars</strong> from 8.6k reviews
                        </div>
                    </div>
                </div>

                <div class="colforreview">
                    <div class="likeinreview">
                        <img src="/image/Task-6/Desktop/Icon_Like.svg">
                        <p>We're making <strong class="darkcolor">insurance as simple as</strong> can be</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="footercontainer">
            <div class="footerrow">
                <div class="socilamedia">
                    <div>
                        <img src="/image/Task-6/Desktop/Logo_white.svg">
                    </div>
                    <p>Build a modern and creative website with crealand</p>
                    <div class="socilamedialink">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>

                <div class="connect">
                    <h3>Ready to get insured? Submit your request and hear back as soon as tomorrow</h3>
                    <form action="" method="get">
                        <input type="text" name="email" placeholder="Your Email" class="email">
                        <input type="submit" value="Get Started" class="submit">
                    </form>
                </div>
            </div>
            <p class="copyright">Copyright &#169; 2019.Crafted with love</p>
        </div>
    </footer>
</body>

</html>