<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Session Task-1.1</title>
    <link rel="stylesheet" href="/css/Task-6/task-6.1.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="textgroup">
                <h2>Vasu Parsaniya_24DEV053</h2>
                <p>Date:09-02-2024</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="boxcard">
                        <div class="icon"></div>
                    <div class="title">
                        <h3>Junior Software Developer</h3>
                    </div>
                    </div>
                    
                </div>

                <div class="col">
                    <div class="boxcard">
                        <div class="icon"></div>
                    <div class="title">
                        <h3>Junior Software Developer</h3>
                    </div>
                    </div>
                    
                </div>

                <div class="col">
                    <div class="boxcard">
                        <div class="icon"></div>
                    <div class="title">
                        <h3>Junior Software Developer</h3>
                    </div>
                    </div>
                    
                </div>

                <div class="col">
                    <div class="boxcard">
                        <div class="icon"></div>
                    <div class="title">
                        <h3>Junior Software Developer</h3>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>