<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        a{
            text-decoration: none;
        }

        .homepagebuttonrow{
            position: fixed;
            bottom: 10px;
            right: 0;
        }
        .homepagebutton{
            padding: 10px 20px;
            background-color: chartreuse;
            color: white;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <section>
        <div class="homepagebuttoncontainer">
            <div class="row homepagebuttonrow">
                <a href="/" class="homepagebutton">Home Page</a>
            </div>
        </div>
    </section>
</body>
</html>