<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <section class="section">
        <h1>Vasu Parsaniya_24DEV</h1>
        <h2>Registration</h2>

        <div class="container">
                <div class="row">
                    <ul>
                        <li><a href="/userregistration" class="registrationbutton">Registration</a></li>
                        <li><a href="/userlogin" class="loginbutton">Login</a></li>
                    </ul>
                </div>
        </div>
    </section>
</body>
</html>