*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.section{
    max-width: 1400px;
    background-color: bisque;
}

.container{
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
}

.row{
    padding: 20px;
}

.row ul{
    display: flex;
    gap: 20px;
}

.registrationbutton,.loginbutton,.exploretaskbutton{
    background-color:chocolate;
    width: 20%;
    padding: 20px;
    border-radius: 20px;

}

h1,h2{
    font-size: 30px;
    text-align: center;
}

.errormessagediv{
    /* background-color:yellowgreen; */
    padding: 20px;
}

.errormessage{
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    color: red;
    font-size: 30px;
    
}