
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 35px;
}

.tableSection {
    background-color: antiquewhite;
    max-width: 1600px;
}

.container {
    background-color: aliceblue;
    padding: 20px;
    max-width: 1360px;
    overflow-x: auto;
}

table{
    max-width: 1000px;
    /* overflow-x: auto; */
}
td,
th {
    /* border: 1px solid black; */
    padding: 10px 4px;
    border-radius: 2px;
}
td{
    text-align: left;
}

.tablehead {
    position: sticky;
    top: 0; 
}

.tablehead1 {
    background-color: aqua;
}

.tablehead2 {
    background-color: rgb(142, 142, 176);
}