<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireX. Vasu Parsaniya_24DEV053</title>
    <link rel="stylesheet" href="/css/Task-8/HireX.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header id="header">
        <div class="container headercontainer">
            <div class="row headerrow">
                <div class="logo">
                    <img src="/image/Task-8/assets/HireX_black.png">
                </div>
                <nav class="navigation">
                    <ul>
                        <li class="nav"><a href="#sectionwork" class="navigationlink">Works</a></li>
                        <li class="nav"><a href="#" class="navigationlink">About us</a></li>
                        <li class="nav"><a href="#sectionblog" class="navigationlink">Blogs</a></li>
                        <li class="nav"><a href="#" class="navigationlink">FAQ's</a></li>
                        <li class="nav"><a href="#" class="navigationlink">Contact us</a></li>
                        <li><a href="#" class="button">We're Hiring <img src="/image/Task-8/assets/arrow-right.svg"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section id="sectionintro">
        <div class="container headerintro">
            <div class="row rowintro">
                <div class="colintro1">
                    <div class="childintro">
                        <p>WELCOME TO HIREX.</p>
                        <img src="/image/Task-8/assets/Star 1.png">
                    </div>
                    <h2>Award Wining Digital Agency.</h2>
                    <p class="contentintro">Digital Agency offering unique solutions to create digital presence and increase your sales.</p>
                    <!-- <div class="requestaccess"> -->
                        <!-- <div class="boxshadow"> -->
                            <form action="" name="requestaccessform" class="boxshadow">
                                <input type="text" name="email" placeholder="Your email address">
                                <a href="#">Request access</a>
                            </form>
                        <!-- </div> -->
                    <!-- </div> -->
                    <span class="openaccount">Open account and get 5 boxes</span>
                </div>
                <div class="colintro2">
                    <div class="webdesign">
                        <p>Web Design</p>
                        <img src="/image/Task-8/assets/image 2 (Traced).png">
                    </div>
                    
                    <div class="socilamedia">
                        <p>Social Media</p>
                        <img src="/image/Task-8/assets/image 6 (Traced).png">
                    </div>

                    <div class="uixdesign">
                        <p>UIX Design</p>
                        <img src="/image/Task-8/assets/image 1 (Traced).png">
                    </div>

                    <div class="new">
                        <img src="/image/Task-8/assets/Group 6.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sectionaccess">
        <div class="container containeraccess">
            <div class="row rowaccess">
                <div class="colaccess">
                    <h3>GET ACCESS NOW!</h3>
                    <img src="/image/Task-8/assets/image-fBLQvAFN1-transformed 1.png" class="imageaccess1">
                    <img src="/image/Task-8/assets/Line 4 rotate.png" class="imageaccess2">
                </div>
                <div class="colaccess">
                    <h3>GET ACCESS NOW!</h3>
                    <img src="/image/Task-8/assets/image-fBLQvAFN1-transformed 1.png" class="imageaccess1">
                    <img src="/image/Task-8/assets/Line 4 rotate.png" class="imageaccess2">
                </div>
                <div class="colaccess">
                    <h3>GET ACCESS NOW!</h3>
                    <img src="/image/Task-8/assets/image-fBLQvAFN1-transformed 1.png" class="imageaccess1">
                    <!-- <img src="/image/Task-8/assets/Line 4 rotate.png"> -->
                </div>
            </div>
        </div>
    </section>

    <section id="sectionservice">
        <div class="container containerservice">
            <div class="rowservice">
                <p class="rowservicebox">Services</p>
                <h2>How HireX. Work</h2>
                <p class="rowservicetitle">The awesome people who makes all this possible</p>
            </div>

            <div class="row rowservice2">
                <div class="colservice">
                    <div class="boxcardservice">
                    <p>START HERE</p>
                    <h3>Who we are & what we do</h3>
                    <img src="/image/Task-8/assets/Designer _Flatline 1.png" class="imageservice10">
                    <a href="#" class="starthere">START HERE<img src="/image/Task-8/assets/arrow-right.svg" class="imageservice2"></a>
                    </div>
                    
                </div>
                <div class="colservice">
                    <div class="boxcardservice">
                        <p>CUSTOM DESIGN</p>
                        <h3>We'll design your projects</h3>
                        <img src="/image/Task-8/assets/Notifications_Flatline 1.png" class="imageservice11">
                        <a href="#" class="customedesign">START HERE<img src="/image/Task-8/assets/arrow-right-black.svg" class="imageservice2"></a>
                        </div>
                </div>
                <div class="colservice">
                    <div class="boxcardservice">
                        <p>CONTACT US</p>
                        <h3>Drop us your message!</h3>
                        <img src="/image/Task-8/assets/Fortnite_Two Color 1.png" class="imageservice13">
                        <a href="#" class="contactus">START HERE<img src="/image/Task-8/assets/arrow-right-black.svg" class="imageservice2"></a>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sectionwork">
        <div class="container containerwork">
            <div class="rowservice rowwork">
                <p class="rowservicebox work">Work</p>
                <h2>Find our latetest works</h2>
                <p class="rowservicetitle">The awesome people who makes all this possible</p>
            </div>

            <div class="row rowwork2">
                <div class="colwork colwork1">
                    <img src="/image/Task-8/assets/Rectangle 13.png" class="imgincolwork1">
                    <div class="colcontent">
                        <p class="colwork1paragraph">Web design</p>
                        <h3>Web Design For Digital Agency</h3>
                        <p class="colwork1content">Build a unique Website with HireX Template</p>
                        <a href="#" class="colcontentreadmore">Read more<img src="/image/Task-8/assets/arrow-right-black.svg"></a>
                    </div>
                </div>
                <div class="colwork colwork2">
                    <img src="/image/Task-8/assets/Rectangle 13-1.png" class="imgincolwork2">
                    <div class="colcontent">
                        <p class="colwork1paragraph">3D design</p>
                        <h3>Realistic 3d Model of Living Room</h3>
                        <p class="colwork1content">Build a unique Website with HireX Template</p>
                        <a href="#" class="colcontentreadmore">Read more<img src="/image/Task-8/assets/arrow-right-black.svg"></a>
                        <a href="#" class="viewall">View All
                            <img src="/image/Task-8/assets/arrow-right-black.svg" class=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sectionpricing">
        <div class="container containerpricing">
            <div class="rowpricing1">
                <h2>Plan & Pricing</h2>
                <p>The awesome people who makes all this possible</p>
            </div>

            <div class="row rowpricing2">
                <div class="colprincing freeup">
                    <div class="boxcardpricing hoverfreebasic hoverfreeup">
                        <h3>FREE</h3>
                        <p class="price">&dollar;0<sub>/MONTH</sub></p>
                        <p class="boxcardpricingcontent">Start free while you learn more about our services</p>
                        <hr>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <a href="#" class="freegetstarted">GET STARTED</a>
                    </div>
                </div>

                <div class="colprincing basicup">
                    <div class="boxcardpricing hoverfreebasic hoverbasicup">
                        <h3>BASIC</h3>
                        <p class="price">&dollar;10<sub>/MONTH</sub></p>
                        <p class="boxcardpricingcontent">Get powerful tools to make your business grow</p>
                        <hr>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <a href="#" class="basicgetstarted">GET STARTED</a>
                    </div>
                </div>

                <div class="colprincing proup">
                    <div class="boxcardpricing hoverpro hoverproup">
                        <h3>PRO</h3>
                        <p class="price">&dollar;99<sub>/MONTH</sub></p>
                        <p class="boxcardpricingcontent">Take your business to the next level with our tools</p>
                        <hr>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <p class="checkpricing"><i class="fa-solid fa-check"></i>Free forever get basic essentials</p>
                        <a href="#" class="progetstarted">GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sectiontestimonials">
        <div class="container containertestimonials">
            <div class="row">
                <div class="coltestimonials1">
                    <img src="/image/Task-8/assets/arrow-left-2.png">
                </div>
                
                <div class="coltestimonials2">
                    <div class="childrow">
                        <div class="childcol1">
                            <img src="/image/Task-8/assets/testimonials-img.png" class="testimonialimage">
                            <p class="maseplace">@mase.place<img src="/image/Task-8/assets/arrow_top-right.png"></p>
                        </div>
                        <div class="childcol2">
                            <h2>We select the best practice in Minerva since it is both useful, and
                                our clients basically adore it! It has stood the test of time and proceeds</h2>
                                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built
                                    a fanbase of more than 3.2 million followers on the platform.</p>
                        </div>
                    </div>
                </div>
                <div class="coltestimonials1 rightarrow">
                    <img src="/image/Task-8/assets/arrow-right-2.png">
                </div>
            </div>
        </div>
    </section>

    <section id="sectionblog">
        <div class="container containerblog">
            <div class="rowblog">
                <p class="rowblogbox">Blog</p>
                <h2>Stay updated</h2>
            </div>

            <div class="row">
                <div class="colwork colwork1">
                    <img src="/image/Task-8/assets/Rectangle 19.png" class="imgincolblog1">
                    <div class="colcontent colcontentwork">
                        <p class="colwork1paragraph">Web design</p>
                        <h3>Web Launch Minerva Template this week!</h3>
                        <p class="colwork1content">Build a unique Website with HireX Template</p>
                        <a href="#" class="colcontentreadmore">Read more<img src="/image/Task-8/assets/arrow-right-black.svg"></a>
                    </div>
                </div>
                <div class="colwork colwork2">
                    <img src="/image/Task-8/assets/Rectangle 20.png" class="imgincolblog2">
                    <div class="colcontent colcontentwork">
                        <p class="colwork1paragraph">Web design</p>
                        <h3>Introducing the Non-Code Webflow Guide</h3>
                        <p class="colwork1content">Build a unique Website with HireX Template</p>
                        <a href="#" class="colcontentreadmore">Read more<img src="/image/Task-8/assets/arrow-right-black.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sectionnews">
        <div class="container containernews">
            <!-- <div class="rownews1"> -->
                <h2 class="rownews1">Get our latests news & updates</h2>
            <!-- </div> -->

            <div class="row rownews2">
                <div class="colnews">
                    <form action="" name="latestnewsform" class="formlatestnews">
                        <input type="text" placeholder="NAME">
                        <input type="email" placeholder="EMAIL">
                        <a href="#" class="subscribe">SUBSCRIBE<img src="/image/Task-8/assets/arrow-right-black.svg"></a>
                    </form>
                </div>
                <div class="colnews colnews2">
                    <p>We select the best practice in Minerva since it is both useful and
                        our clients basically adore it</p>
                        <a href="#">Book a Call</a>
                </div>
            </div>
        </div>
    </section>

    <section id="sectionthankyou">
        <div class="container containertankyou">
            <div class="row">
                <div class="colthankyou">
                    <h3>THANK YOU FOR YOUR VISIT</h3>
                    <img src="/image/Task-8/assets/Line 4.png" class="imagethankyouminus">
                </div>
                <div class="colthankyou">
                    <h3>THANK YOU FOR YOUR VISIT</h3>
                    <img src="/image/Task-8/assets/Group 59.png" class="imagethankyouplus">
                </div>
                <div class="colthankyou">
                    <h3>THANK YOU FOR YOUR VISIT</h3>
                    <img src="/image/Task-8/assets/Line 4.png" class="imagethankyouminus">
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container containerfooter">
            <div class="rowfooter1">
                <h2>HireX.</h2>
                <hr>
            </div>

            <div class="row">
                <ul class="colfooter products">
                    <li class="titlefooter">Products</li>
                    <li class="listfooter">Platform</li>
                    <li class="listfooter">Store Overview</li>
                    <li class="listfooter">Email Reports</li>
                    <li class="listfooter">portfolio</li>
                </ul>

                <ul class="colfooter resources">
                    <li class="titlefooter">Resources</li>
                    <li class="listfooter">Case Studies</li>
                    <li class="listfooter">Product Guides</li>
                    <li class="listfooter">Reports</li>
                    <li class="listfooter">Blog</li>
                    <li class="listfooter">FAQ</li>
                </ul>

                <ul class="colfooter company">
                    <li class="titlefooter">Company</li>
                    <li class="listfooter">Careers</li>
                    <li class="listfooter">Contact Sales</li>
                    <li class="listfooter">Contact Support</li>
                </ul>

                <ul class="colfooter partners">
                    <li class="titlefooter">Partners</li>
                    <li class="listfooter">Partner With Us</li>
                </ul>
            </div>
            <div class="rowfooter2">
                <div class="termcondition">
                    <p>Term and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
                <p>&#169;HIRX,Inc.2022</p>
            </div>
        </div>
    </footer>
</body>
</html>