*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tablesection{
    background-color: antiquewhite;
}

.container{
    max-width: 1200px;
    min-height: 100dvh;
    padding: 20px;
    background-color: aliceblue;
    margin: 0 auto;
}

#jsonplaceholdertable{
    width: 100%;
    /* border: 1px solid black; */
}

th:nth-child(even){
    background-color: rgb(142, 142, 176);
}

th:nth-child(odd){
    background-color:aqua;
}

.tableheaderrow{
    position: sticky;
    top: 0;
    left: 0;
}

td,th{
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px 20px;
}

td{
    background-color:burlywood;
}

/* style of single post */
#singlepost{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
#singleposttable{
    max-width: 800px;
}

a{
    text-decoration: none;
}
.commentbutton{
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-size: large;    
    color: black;
    background-color:burlywood;
    cursor: pointer;
}

.commentbutton:hover{
    background-color:rgb(248, 217, 176);
}
/* style for comment */

.rowcomments{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.colcomment{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.boxcard{
    padding: 20px;
    background-color:cadetblue;
    border-radius: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentname,.commentemail,.commentbody{
    padding: 10px;
    background-color: rgb(249, 250, 215);
    border-radius: 10px;
}


/* search style */

#searchinput{
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    outline: none;
}

