<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWAN HOSTER Vasu Parsaniya_24DEV053</title>
    <link rel="stylesheet" href="/css/Task-7_awanhoster/Awan_Hoster.css">
    <script src="/js/Task-7_awanhoster/awanHoster.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- <section class="colorwhite"> -->

    <header id="header">
        <div class="containerheader">
            <div class="headerrow">
                <div class="headercol1">
                    <div class="logo">
                        <a href="#"><img src="/image/Task-7/assets/Logo.png"></a>
                    </div>
                </div>
                <div class="headercol2">
                    <nav>
                        <ul>
                            <li><a href="#" class="navigation">Hosting</a></li>
                            <li><a href="#" class="navigation">Integration</a></li>
                            <li><a href="#" class="navigation">pricing</a></li>
                            <li><a href="#" class="navigation">Community</a></li>
                            <li><a href="#" class="navigation button">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </header>
    <hr>
    <section id="sectionhosting">
        <div class="containerhosting">
            <div class="rowforhosting">
                <div class="colforhosting1">
                    <div class="textforhosting">
                        <!-- <div class="textforhosting1"> -->
                        <h2>Hosting Services for Your Website</h2>
                        <!-- </div> -->
                        <!-- <div class="textforhosting2"> -->
                        <p>Eaisly and reliably host a website for your business, organization,
                            or project while retaining complete control over your site's underlying
                            infrastructure.</p>
                        <!-- </div> -->
                        <!-- <div class="buttonforhosting"> -->
                        <a href="#" class="getstarted">Get Started</a>
                        <a href="#" class="getmigration">Get Migration Help</a>
                        <!-- </div> -->
                    </div>
                    <div class="downarrow">
                        <a href="#sectionexperienced"><img src="/image/Task-7/assets/arrow-down.png"></a>
                    </div>
                </div>

                <div class="colforhosting2">
                    <!-- <div class="hostingimage"> -->
                    <img src="/image/Task-7/assets/portrait-confident-bearded-man-using-laptop-computer 1.png"
                        class="hostingimage">
                    <!-- </div> -->
                </div>
            </div>


        </div>
    </section>

    <section id="sectionexperienced">
        <div class="containerexprienced">
            <div class="experiencedrow">
                <div class="experiencedcol1">
                    <div class="experiencedcol1contain">
                        <p>Those Who Have Experienced The Best Performance</p>
                    </div>
                </div>
                <div class="experiencedcol2">
                    <img src="/image/Task-7/assets/Telkom Indonesia Logo.png">
                    <img src="/image/Task-7/assets/Jetstar Airways Logo.png">
                    <img src="/image/Task-7/assets/Nescafe Logo.png">
                    <img src="/image/Task-7/assets/Lenovo Logo.png">
                </div>
            </div>
        </div>
    </section>

    <section id="sectionboostspeed">
        <div class="containerboostspeed">
            <div class="rowforboostspeed">
                <!-- <div class="colforboostspeed"> -->
                <img src="/image/Task-7/assets/Group 3552.png" class="colforboostspeed">
                <!-- </div> -->
                <div class="colforboostspeed">
                    <h2>Boost the Speed of Your Website</h2>
                    <div class="rowforboostspeed1">
                        <div class="colforboostspeedcontain">
                            <h3>Faster Build Process</h3>
                            <p>We can speed up the process of creating your website</p>
                        </div>
                        <div class="colforboostspeedcontain">
                            <h3>Faster Delivery</h3>
                            <p>Our purchases and services can be completed quickly</p>
                        </div>
                        <div class="colforboostspeedcontain">
                            <h3>Faster Access Speed</h3>
                            <p>Superb network infrastructure and hardware to support fast and
                                stable access
                            </p>
                        </div>
                        <div class="colforboostspeedcontain">
                            <h3>24/7 Faster Service</h3>
                            <p>We have a response time of less than 180 seconds, available 24 hours a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sectionplan">
        <div class="containerplan">
            <div class="textplan">
                <h2>Host Any Website With Our Fully Managed Services</h2>
            </div>

            <div class="rowforplans">
                <div class="colforplan">
                    <div class="boxcardparent">
                        <div class="boxcardchild">
                            <div class="planname">
                                <img src="/image/Task-7/assets/cloud-sunny.png">
                                <h3>Cloud Hosting</h3>
                            </div>
                            <p>Cloud Hosting is a good fit for those of you who are
                                building personal websites, portfolios, blogs, and other systems.
                            </p>
                        </div>
                        <p class="price">&dollar;5.9<sub>/month</sub></p>
                        <div class="moredetailsdiv">
                            <a href="#" class="moredetails">More Details</a>
                        </div>
                    </div>
                </div>

                <div class="colforplan">
                    <div class="boxcardparent">
                        <div class="boxcardchild">
                            <div class="planname">
                                <img src="/image/Task-7/assets/buildings.png">
                                <h3>Corporate</h3>
                            </div>
                            <p>Provides business-related hosting services, such as websites or
                                management systems for companies.</p>
                        </div>
                        <p class="price">&dollar;19<sub>/month</sub></p>
                        <div class="moredetailsdiv">
                            <a href="#" class="moredetails">More Details</a>
                        </div>
                    </div>
                </div>

                <div class="colforplan">
                    <div class="boxcardparent">
                        <div class="boxcardchild">
                            <div class="planname">
                                <img src="/image/Task-7/assets/driver.png">
                                <h3>Cloud VPS</h3>
                            </div>
                            <p>A scalable, fully-managed virtual private server we build and optimize
                                specifically for youe website.
                            </p>
                        </div>
                        <p class="price">&dollar;29<sub>/month</sub></p>
                        <div class="moredetailsdiv">
                            <a href="#" class="moredetails">More Details</a>
                        </div>
                    </div>
                </div>

                <div class="colforplan">
                    <div class="boxcardparent">
                        <div class="boxcardchild">
                            <div class="planname">
                                <img src="/image/Task-7/assets/monitor-mobbile.png">
                                <h3>Dedicated</h3>
                            </div>
                            <p>Your mission-critical website requires the performance and security of a dedicated
                                physical server.
                            </p>
                        </div>
                        <p class="price">&dollar;119<sub>/month</sub></p>
                        <div class="moredetailsdiv">
                            <a href="#" class="moredetails">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sectionlanguage">
        <div class="containerlanguage">
            <div class="rowlanguage">
                <div class="collanguage1">
                    <div class="languagename defaultstylelanguage">
                        <div class="image">
                            <img src="/image/Task-7/assets/WordPress.com Logo.png" width="43px" height="44px">
                        </div>
                        <div class="imagename">
                            <h3 class="tablink" onclick="opentab(event,'wordpress')">Wordpress</h3>
                        </div>
                    </div>

                    <div class="languagename">
                        <div class="image">
                            <img src="/image/Task-7/assets/magento-logo.png" width="43px" height="44px">
                        </div>
                        <div class="imagename">
                            <h3 class="tablink" onclick="opentab(event,'magento')">Magento</h3>
                        </div>
                    </div>

                    <div class="languagename">
                        <div class="image">
                            <img src="/image/Task-7/assets/Laravel-logo.png" width="43px" height="44px">
                        </div>
                        <div class="imagename">
                            <h3 class="tablink" onclick="opentab(event,'laravel')">Laravel</h3>
                        </div>
                    </div>

                    <div class="languagename">
                        <div class="image">
                            <img src="/image/Task-7/assets/php-logo.png" width="43px" height="44px">
                        </div>
                        <div class="imagename">
                            <h3 class="tablink" onclick="opentab(event,'php')">PHP</h3>
                        </div>
                    </div>
                </div>

                <!-- --------------wordpress -->

                <div class="collanguage2" id="wordpress">
                    <div class="languagetitle">
                        <h2>The Best Managed Cloud Hosting for WordPress</h2>
                    </div>
                    <div class="languagesubtitle">
                        <p>We live and breathe WordPress.Our managed hosting for WordPress and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.
                        </p>
                    </div>
                    <div class="languagefeature">
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Unlimited Bandwidth</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Network Speed</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Turbo Power</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Xtreme Freedom</span>
                        </div>
                    </div>

                    <div class="topbutton">
                        <a href="#" class="moredetailslanguage">More Details</a>
                    </div>
                </div>

                <!-- --------------Magento -->

                <div class="collanguage2" id="magento">
                    <div class="languagetitle">
                        <h2>The Best Managed Cloud Hosting for Magento</h2>
                    </div>
                    <div class="languagesubtitle">
                        <p>We live and breathe WordPress.Our managed hosting for Magento and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.
                        </p>
                    </div>
                    <div class="languagefeature">
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Unlimited Bandwidth</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Network Speed</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Turbo Power</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Xtreme Freedom</span>
                        </div>
                    </div>

                    <div class="topbutton">
                        <a href="#" class="moredetailslanguage">More Details</a>
                    </div>
                </div>

                <!-- --------------Laravel -->

                <div class="collanguage2" id="laravel">
                    <div class="languagetitle">
                        <h2>The Best Managed Cloud Hosting for Laravel</h2>
                    </div>
                    <div class="languagesubtitle">
                        <p>We live and breathe WordPress.Our managed hosting for Laravel and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.
                        </p>
                    </div>
                    <div class="languagefeature">
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Unlimited Bandwidth</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Network Speed</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Turbo Power</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Xtreme Freedom</span>
                        </div>
                    </div>

                    <div class="topbutton">
                        <a href="#" class="moredetailslanguage">More Details</a>
                    </div>
                </div>

                <!-- --------------PHP -->

                <div class="collanguage2" id="php">
                    <div class="languagetitle">
                        <h2>The Best Managed Cloud Hosting for PHP</h2>
                    </div>
                    <div class="languagesubtitle">
                        <p>We live and breathe WordPress.Our managed hosting for PHP and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.
                        </p>
                    </div>
                    <div class="languagefeature">
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Unlimited Bandwidth</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Network Speed</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Turbo Power</span>
                        </div>
                        <div class="languagefeature1">
                            <img src="/image/Task-7/assets/Vector.png">
                            <span>Xtreme Freedom</span>
                        </div>
                    </div>

                    <div class="topbutton">
                        <a href="#" class="moredetailslanguage">More Details</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="sectioncustomer">
        <div class="containercustomer">
            <div class="rowforcustomer1">
                <div class="colforcustomer1">
                    <h2>How Our Customers Feel About Us</h2>
                </div>
                <div class="colforcustomer2">
                    <div>
                        <img src="/image/Task-7/assets/arrow-left.png" onclick="sliderLeft()">
                        <img src="/image/Task-7/assets/arrow-right.png" onclick="sliderRight()">
                    </div>

                </div>
            </div>

            <div class="rowforcustomer2" id="rowforslider">
                <div class="colforcustomer">
                    <div class="boxcardforcustomer">
                        <div class="childboxcardforcustomer">
                            <div class="imagecustomer">
                                <img src="/image/Task-7/assets/profile.png">
                            </div>
                            <div class="ratings">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                            </div>
                            <div class="customerreview">
                                <p>Thanks to the Awan Hoster,I was guided step-by-step until
                                    it was finished
                                </p>
                            </div>
                            <div class="customername">
                                <h3>Guy Hawkins</h3>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="colforcustomer">
                    <div class="boxcardforcustomer">
                        <div class="childboxcardforcustomer">
                            <div class="imagecustomer">
                                <img src="/image/Task-7/assets/profile.png">
                            </div>
                            <div class="ratings">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                            </div>
                            <div class="customerreview">
                                <p>Thanks to the Awan Hoster,I was guided step-by-step until
                                    it was finished
                                </p>
                            </div>
                            <div class="customername">
                                <h3>Guy Hawkins</h3>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="colforcustomer">
                    <div class="boxcardforcustomer">
                        <div class="childboxcardforcustomer">
                            <div class="imagecustomer">
                                <img src="/image/Task-7/assets/profile.png">
                            </div>
                            <div class="ratings">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                            </div>
                            <div class="customerreview">
                                <p>Thanks to the Awan Hoster,I was guided step-by-step until
                                    it was finished
                                </p>
                            </div>
                            <div class="customername">
                                <h3>Guy Hawkins</h3>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="colforcustomer">
                    <div class="boxcardforcustomer">
                        <div class="childboxcardforcustomer">
                            <div class="imagecustomer">
                                <img src="/image/Task-7/assets/profile.png">
                            </div>
                            <div class="ratings">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                            </div>
                            <div class="customerreview">
                                <p>Thanks to the Awan Hoster,I was guided step-by-step until
                                    it was finished
                                </p>
                            </div>
                            <div class="customername">
                                <h3>Guy Hawkins</h3>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="colforcustomer">
                    <div class="boxcardforcustomer">
                        <div class="childboxcardforcustomer">
                            <div class="imagecustomer">
                                <img src="/image/Task-7/assets/profile.png">
                            </div>
                            <div class="ratings">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                            </div>
                            <div class="customerreview">
                                <p>Thanks to the Awan Hoster,I was guided step-by-step until
                                    it was finished
                                </p>
                            </div>
                            <div class="customername">
                                <h3>Guy Hawkins</h3>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="colforcustomer">
                    <div class="boxcardforcustomer">
                        <div class="childboxcardforcustomer">
                            <div class="imagecustomer">
                                <img src="/image/Task-7/assets/profile.png">
                            </div>
                            <div class="ratings">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                                <img src="/image/Task-7/assets/Star 2.png">
                            </div>
                            <div class="customerreview">
                                <p>Thanks to the Awan Hoster,I was guided step-by-step until
                                    it was finished
                                </p>
                            </div>
                            <div class="customername">
                                <h3>Guy Hawkins</h3>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="sectiontrial">
        <div class="containertrial">
            <div class="rowfortrial">
                <div class="colfortrial1">
                    <h2>Try It Now and Stop Douting Anything Else</h2>
                    <p>With Awan Hoster's Money Back Guarantee,you can try the best service reliability</p>
                    <div>
                        <a href="#" class="button1">Start Free Trial</a>
                        <a href="#" class="button2">See All Plans</a>
                    </div>
                </div>
                <div class="colfortrial2">
                    <img src="/image/Task-7/assets/Group 1000008788.png">
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="containerfooter">
            <div class="rowforfooter">
                <div class="colforfooter1">
                    <div class="logo">
                        <img src="/image/Task-7/assets/logo-white.png">
                    </div>
                    <p>We Provide you with the best hosting solutions for your websites.</p>
                    <div class="socialmedia">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-discord"></i>
                    </div>
                </div>
                <div class="colforfooter2">
                    <div class="childrow">
                        <div class="childcol">
                            <h3>Company</h3>
                            <span>About</span>
                            <span>Blog</span>
                            <span>Leadership</span>
                            <span>Careers</span>
                            <span>Legal</span>
                        </div>
                        <div class="childcol childcolformargin">
                            <h3>Products</h3>
                            <span>API</span>
                            <span>Pricing</span>
                            <span>Documentation</span>
                            <span>Release Notes</span>
                        </div>
                        <div class="childcol childcolformargin">
                            <h3>Contact</h3>
                            <span>Support</span>
                            <span>Sales</span>
                            <span>Report Abuse</span>
                            <span>System Status</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>