<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="/css/Task-17_jsonplaceholder/Exercise1/jsonplaceholdertable.css">
    <script src="/js/Task-17_jsonplaceholder/jsonplaceholdertablefrontend.js"></script>
</head>

<body onload="singlepost()">
    <section class="tablesection">
        <h1>Vasu Parsaniya_24DEV053</h1>
        <h2>Exercise:JSONPLACEHOLDERTABLE</h2>
        <h3>Date:11-03-2024</h3>
        <div class="container">
            <div class="row" id="singlepost">
                <table id="singleposttable">
                </table>
            </div>
        </div>
    </section>
</body>

</html>