<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="/css/Task-16/JobApplicationForm_exercise1_css/studentlist.css">
      </link>
      <script
         src="/js/Task-16/JobApplicationForm_exercise1_javascript/studentlist.js"></script>
</head>
<body onload="liststudentdata()">
    <section id="studentsection">
        <div class="intro">
            <h1>Vasu Parsaniya_24DEV053</h1>
            <h2>Job Application Form With AJAX</h2>
        </div>
        <div class="studenttablecontainer">
            <div class="registerupdatebutton">
                <p onclick="hidetable()">Register New Student</p>
                <p onclick="showtable()">Update Student</p>
            </div>

            <table id="studenttable" class="hidetable">
                
            </table>
        </div>
    </section>
</body>
</html>