<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB APPLICATION FORM HOME PAGE</title>
    <script src="/js/Task-15_jobapplicationform/allstudent.js"></script>
    <link rel="stylesheet" href="/css/Task-15_jobapplicationform/allstudent.css">
    </link>

</head>

<body onload="liststudentdata()">

    <section id="studentsection">
        <div class="intro">
            <h1>Vasu Parsaniya_24DEV053</h1>
            <h2>Job Application Form</h2>
        </div>
        <div class="studenttablecontainer">
            <div class="registerupdatebutton">
                <p onclick="hidetable()">Register New Student</p>
                <p onclick="showtable()">Update Student</p>
            </div>

            <table id="studenttable" class="hidetable">

            </table>
        </div>
    </section>
</body>

</html>